body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(236, 236, 236);
    font-family: 'Nunito Sans', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}