.listElement {
    margin: 18px 0;
    font-size: 1rem;
    color: #313131;
}

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input {
    display: none;
}

.customCheckbox {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    margin-right: 10px;
}

.input:checked + .customCheckbox{
    background-image: url('../../assets/images/checkbox--checked.svg');
    background-size: contain;
}

.input:checked ~ .title {
    text-decoration: line-through;
    color: #a7a7a7;
}