.container {
    background-color: white;
    flex: 1;
    overflow-y: scroll;
    border-radius: 0 15px 15px 0;
    padding: 60px 80px;
    max-height: 550px;

    // Hide the scrollbar
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.header {
    font-weight: bold;
    font-size: .75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a7a7a7;
    margin: 0 0 40px 0;
    padding: 0;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}